body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}

/* NAVBAR */
.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 40px;
    background:#0d6efd;
    color:white;
}

.navbar ul{
    list-style:none;
    display:flex;
    gap:20px;
}

/* HERO */
.hero{
    height:90vh;
    background:linear-gradient(rgba(0,0,0,0.5),
               rgba(0,0,0,0.5)),
               url("https://images.unsplash.com/photo-1586500036706-41963de24d8f");
    background-size:cover;
    background-position:center;
    color:white;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.hero h1{
    font-size:48px;
    margin-bottom:10px;
}

.hero button{
    padding:12px 25px;
    border:none;
    background:#ffc107;
    font-weight:bold;
    border-radius:6px;
    cursor:pointer;
}
