/* RESET */
body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background:#f5f6f8;
}

/* NAVBAR */
.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 60px;
    background:white;
}

.logo{
    font-size:22px;
    font-weight:bold;
}

.nav-menu{
    list-style:none;
    display:flex;
    gap:30px;
}

/* HERO */
.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:60px;
}

.hero-text{
    max-width:500px;
}

.hero-text h1{
    font-size:42px;
    margin-bottom:20px;
}

.hero-text p{
    color:#555;
    margin-bottom:20px;
}

.btn-primary{
    padding:12px 25px;
    border:none;
    border-radius:20px;
    background:#dcdcdc;
    cursor:pointer;
}
